body{
background-image: url("max.jpg");
	 background-repeat:no-repeat;
	 background-size:cover;

	 height:100vh;
}
.btn{
  margin-top: 50px,
}
.signin{
	background: rgba(0, 5, 0, 0.6);
	padding: 40px;
	width: 30%;
	margin-top: 80px;
	height: 550px;
	margin-left: 480px;
  border-radius: 20px;
}
form{
	width: 100%;
	text-align: center;
  color: white;
}
input
{
	width: 240px;
	text-align: center;
	background: transparent;
	border:none;
	border-bottom: 1px solid #fff;
	font-family: 'play', sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0,5;
	outline: none;
	color:white;

}

input[type=button]
{
	border:none;
	width: 190px;
	background: white;
	color:  #000;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 20px;
	cursor:pointer;
}
input[type=button]:hover{
	color:#fff;
	background-color: #8A9FE5;
}
 a{
	 color:#8A9FE5;
	 text-decoration: blink;
 }
 a:hover{
	 color: #8A9FE5;
 }

 .container{
	 display: flex;
	 flex-direction: row;
	text-align: center;

 }

 ::placeholder{
	 color: aliceblue;
	 opacity: 0.8;
 }

#msg{
  visibility: hidden;
  min-width: 100px;
  background-color: #E6E6E6;
  Color:black;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position:fixed;
  z-index: 1;
  right: 35%;
  top: 30px;
  font-size: 17px;
  margin-right: 55px;
}
#msg.show{
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein{
from{top:0; opacity:0;}
to{top:30px; opacity: 1;}
}
@keyframes fadein{
from{top:0; opacity:0;}
to{top:30px; opacity: 1;}
}
